apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  labels:
    app: api

spec:
  replicas: 1

  selector:
    matchLabels:
      app: api

  template:
    metadata:
      labels:
        app: api

    spec:
      imagePullSecrets:
        - name: ghcr-secret   # secret you created for GHCR

      containers:
        - name: api
          image: ghcr.io/parthorookie/event-driven-keda-enterprisegithubactions/api:latest
          imagePullPolicy: Always

          ports:
            - containerPort: 3000

          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "300m"
              memory: "256Mi"

          readinessProbe:
            httpGet:
              path: /health
              port: 3002
            initialDelaySeconds: 10
            periodSeconds: 5

          livenessProbe:
            httpGet:
              path: /health
              port: 3002
            initialDelaySeconds: 20
            periodSeconds: 10